    <!-- End Example Code -->
</body>
<div class="footer-container">
  <div class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 ">
    <p class="">© <%= new Date().getFullYear() %> Company, Inc</p>
  </div>
</div>
</html>